.user_wrape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        .user_block{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin-top: 10px;
                button{
                    background-color: red;
                    border: none;
                    padding: 11px;
                    color: #fff;
                    font-weight: 700;
                    border-radius: 6px;
                        &:hover{
                            background-color: rgb(226, 41, 41);
                        }
                        &:active{
                            background-color: rgb(151, 10, 10);
                        }
                }
                .edit_btn{
                    background-color: orange;
                    padding: 11px 20px;
                    margin-left: 20px;
                }
        }
}